
main{
    position: absolute;
    left: 200px
}
.geng{
    object-fit: cover;
position: relative;
width: 350px;
height: 200px;
padding-bottom: 10px;
row-gap: 0;
}
.video-cover{
    z-index: -2;
    margin-top: 60px;  
    
} 
.small-display{
    display: flex;
    flex-direction: row;
}
.small{
    width:60px;
    height:60px;
    border-radius: 50%;
}
